header {
	position:relative;
	height:12em;
	width:100%;
	background-color:#333;
}
header form {
	position:absolute;
	right:1em;
	top:0;
	width:25%;
}
header form * {
  color:#333 !important;
	height:1.5em;
	padding:0 5%;
	margin:0.25em;	
	width:90%;
}
header form p {
	color:#eee !important;
}
#submitButton {
	width:100%;
	height:1.5em;
	padding:0;
	top:5.3333em;
	background:none;
	float:right;
}
#submitButton * {
	background-color:#ddd;
	text-decoration:none;
	width:47.5%;
	padding:0;
	margin:0;
	height:100%;
}
#submitButton button {
	position:absolute;
	right:0 !important;
	float:right;
	margin:auto;
}

header div {
	top:8em;
	position:absolute;
	height:4em;
	width:100%;
	background-image:url("../media/hero.png");
	background-position:center;
	background-size:100%;
}
header div nav {
	top:25%;
	position:absolute;
	width:50%;
	height:2em;
	line-height:2em;
	padding:0 0.5em;
	background-color:#333;
}
header div #r {
	right:0;
	top:1em;
	width:50vw;
	background-color:#333;
	height:2em;
	text-align:center;
}
header div #r input {
	height:1em;
	top:12.5%;
	right:0.5em;
	position:absolute;
	background-color:#eee;
	color:#333;
	width:20vw;
	padding:0.25em;
	border:0;
}
header div #r #sub {
	height:1.5em !important;
}

header div img {
	position:absolute;
	left:50%;
	margin:-1em -3.5em;
	border-radius:100%;
	height:6em;
}

/*Style for nav_menu*/
#nav_menu ul li{
	list-style-type: none;
	padding: 0;
	position: relative;
}

#nav_menu ul li ul li a{
	text-align: center;
	display: block;
	padding: 1em 0;
	text-decoration: none;
	color: White;
	font-weight: bold;
}

#nav_menu ul li ul{
	display: none;
}

#nav_menu ul li:hover> ul{
	display: block;	
	background-color: #333;
	width: 50%;
}



@media screen and (min-width:550) {
	header div img {
		height:4em;
		margin:0em -2.5em;
	}
	header form {
		width:50%;
	}
}
