body {
    background-color: lightgray;
    color: black;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}

img {
    height: 35%;
    width: 35%;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
}